* {
    box-sizing: border-box;
    --dark-grey: rgb(53, 46, 43);
    --light-grey: rgb(88, 75, 69);

    --white-orange: cornsilk;
    --light-orange: papayawhip;
    --accent-orange: blanchedalmond;
    --orange: bisque;
    --deep-orange: lightsalmon;
    --deep-violet: blueviolet;
}

body {
    margin: 0;
    font-family: 'Comic Sans MS';
    background-color: var(--white-orange);
    color: var(--dark-grey);
}

::selection {
    background-color: var(--deep-orange);
    color: var(--white-orange);
}

input {
    font-family: 'Comic Sans MS';
}

option:selection {
    font-style: italic;
}

input::-webkit-file-upload-button,
input[type=submit],
select {
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    background-color: var(--orange);
    color: var(--dark-grey);
    font-family: 'Comic Sans MS';
    margin: 1px;

}

h1 {
    font-family: 'Trebuchet MS';
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Trebuchet MS';
    text-align: center;
}

a {
    color: var(--deep-orange);
    text-decoration: unset;

    transition: color 0.5s;
}

a:hover {
    color: var(--deep-violet);
    text-decoration: underline;
}

#flexbox {
    display: flex;
    justify-content: center;
}

#hidden {
    color: var(--white-orange);
    position: fixed;
    top: 50%;
    left: calc(50% - 3em);
    padding: 10px;
    cursor: default;
}

#hidden::selection {
    background: var(--white-orange);
    color: var(--light-orange);

}

#footer {
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

#sites {
    display: flex;
    justify-content: center;
}

#sites a {
    border: 10px dashed var(--accent-orange);
    background-color: var(--orange);
    color: var(--dark-grey);
    text-decoration: unset;

    font-size: 14pt;

    width: max-content;
    padding: 20px 30px;
    margin: 5px;

    transition-property: border, color;
    transition-duration: 0.3s;
}

#sites a:hover {
    border: 10px dashed var(--light-orange);
    color: var(--light-grey);
}